apiVersion: v1
kind: Namespace
metadata:
  name: nginx-demo
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: html-config
  namespace: nginx-demo
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head><title>My Sample Page</title></head>
    <body>
    <h1>Hello from Argo CD + NGINX! Updated</h1>
    <p>This is a sample static page deployed via GitOps.</p>
    </body>
    </html>
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: nginx-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html-volume
        configMap:
          name: html-config
