apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: nginx-demo
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb" # optional NLB
    service.beta.kubernetes.io/aws-load-balancer-internal: "false" # internet-facing
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
  externalTrafficPolicy: Cluster
